extends ../shared/template
block content
  h2 Welcome to Amzon!
  h4 Use the navbar above to register an account and log in, or sign in using your Github, Google, Instagram, Spotify, or Twitter accounts.

block scripts
  script(src='/js/user/home.js')

